<div class="container-fluid">
    <img class="container-fluid" src=".././../assets/cl1.jpg"><br><br><br>
    <img width="100%"src="https://assets.ajio.com/medias/sys_master/images/images/h8c/h4b/16351337349150/05052020-D-Unisex-covid.jpg">
    
        <div id="carouselExampleControls"  class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/imm5.jpg" class="d-block w-100" alt="best shooping site">
              </div>
              <div class="carousel-item">
                <img src="../assets/imm2.jpg" class="d-block w-100" >
              </div>
              <div class="carousel-item">
                <img src="../assets/imm4.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="../assets/imm6.jpg" class="d-block w-100">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Women<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/explore">Men</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">children</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Clothing</a>
                    <a class="dropdown-item" href="#">Cosmetics</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

          
            <div class="container">
                <div class="row">
                  <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src=".././../assets/dress1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Printed A Line Kurta</h5>
                                        <h6 class="card-subtitle mb-2 text-muted"><ul>
                                            <li>Prints & Patterns : Plain</li>
                                            <li>Length : Long</li>
                                            <li>Color Family :Gray</li>
                                        </ul>
                                            Price : $ 235</h6>
                                        <p class="card-text"><svg class="bi bi-wallet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M1.5 3a.5.5 0 00-.5.5v2h5a.5.5 0 01.5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 01.5-.5h5v-2a.5.5 0 00-.5-.5h-13zM15 6.5h-4.551a2.678 2.678 0 01-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 015.551 6.5H1v6a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-6zm-15-3A1.5 1.5 0 011.5 2h13A1.5 1.5 0 0116 3.5v9a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 010 12.5v-9z" clip-rule="evenodd"/>
                                        </svg>&nbsp;Payment Options: (Credit Card , Debit Card , Net Banking , Wallets , COD)</p>
                                        <a href="https://www.indiamart.com/proddetail/printed-a-line-kurta-18783318497.html" class="card-link">More Specifications</a>
                                        
                                    </div>
                                </div>
                  </div>
                  <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src=".././../assets/dress3.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Long and Straight Kurta</h5>
                                            <h6 class="card-subtitle mb-2 text-muted"><ul>
                                                <li>Prints & Patterns : Printed</li>
                                                <li>Length : Long</li>
                                                <li>Color Family :Yellow</li>
                                            </ul>
                                                Price : $ 345</h6>
                                            <p class="card-text"><svg class="bi bi-wallet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M1.5 3a.5.5 0 00-.5.5v2h5a.5.5 0 01.5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 01.5-.5h5v-2a.5.5 0 00-.5-.5h-13zM15 6.5h-4.551a2.678 2.678 0 01-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 015.551 6.5H1v6a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-6zm-15-3A1.5 1.5 0 011.5 2h13A1.5 1.5 0 0116 3.5v9a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 010 12.5v-9z" clip-rule="evenodd"/>
                                            </svg>&nbsp;Payment Options: (Credit Card , Debit Card , Net Banking , Wallets , COD)</p>
                                            <a href="https://www.indiamart.com/proddetail/printed-a-line-kurta-18783318497.html" class="card-link">More Specifications</a>
                                            
                                        </div>
                                    </div>
                    </div>
                  <div class="w-100"></div>
                        <div class="col">
                      
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src=".././../assets/dress4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    Anarkali Kurti</h5>
                                                <h6 class="card-subtitle mb-2 text-muted"><ul>
                                                    <li>Prints & Patterns : Dotted</li>
                                                    <li>Set Contents : Single</li>
                                                    <li>Color Family : Black</li>
                                                </ul>
                                                    Price : $ 187</h6>
                                                <p class="card-text"><svg class="bi bi-wallet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1.5 3a.5.5 0 00-.5.5v2h5a.5.5 0 01.5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 01.5-.5h5v-2a.5.5 0 00-.5-.5h-13zM15 6.5h-4.551a2.678 2.678 0 01-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 015.551 6.5H1v6a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-6zm-15-3A1.5 1.5 0 011.5 2h13A1.5 1.5 0 0116 3.5v9a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 010 12.5v-9z" clip-rule="evenodd"/>
                                                </svg>&nbsp;Payment Options: (Credit Card , Debit Card , Net Banking , Wallets , COD)</p>
                                                <a href="https://www.indiamart.com/proddetail/printed-a-line-kurta-18783318497.html" class="card-link">More Specifications</a>
                                                
                                            </div>
                                        </div>
                      </div>
                    <div class="col">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src=".././../assets/dress2.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        Tokyo Talkies</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted"><ul>
                                                        <li>Navy Polka Dot Belted Shirt Dress</li>
                                                        
                                                    </ul>
                                                        Price : $ 499</h6>
                                                    <p class="card-text"><svg class="bi bi-wallet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M1.5 3a.5.5 0 00-.5.5v2h5a.5.5 0 01.5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 01.5-.5h5v-2a.5.5 0 00-.5-.5h-13zM15 6.5h-4.551a2.678 2.678 0 01-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 015.551 6.5H1v6a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-6zm-15-3A1.5 1.5 0 011.5 2h13A1.5 1.5 0 0116 3.5v9a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 010 12.5v-9z" clip-rule="evenodd"/>
                                                    </svg>&nbsp;Payment Options: (Credit Card , Debit Card , Net Banking , Wallets , COD)</p>
                                                    <a href="https://www.indiamart.com/proddetail/printed-a-line-kurta-18783318497.html" class="card-link">More Specifications</a>
                                                    
                                                </div>
                                            </div>

                    </div>

                </div>
            </div>
                               
            
            
                            
</div>
            
      
    

    

