<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>




<body class="container-fluid">


  <div class="d-none d-sm-block">
  <div class="header">
    <span><img width="100px" src="../assets/logo.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="50%"src="../assets/title.png"><br>
      <span class="header-right" >

            
        <span class="center"> <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
         <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
         </svg>&nbsp;
          <input class="well" autocomplete="off" role="combobox" aria-autocomplete="list" aria-owns="react-autowhatever-1" aria-expanded="true" aria-haspopup="true" class="react-autosuggest__input react-autosuggest__input--open" placeholder=" Search Trends" name="searchVal" type="text" value="" style="border-color: rgb(65, 64, 66);"></span>
         
        
      </span>
     </span>

     </div>
  </div>


  <div class="jumbotron text-center">
    
    <a class="header-left" routerLink="/login">Login |</a>
    <a class="header-left" routerLink="/explore"> &nbsp;Explore </a>
    <a class="header-right" href="https://www.lazada.com/en/about/">&nbsp;Contact | </a>
    <a class="header-right" href="https://www.lazada.com/en/about/">&nbsp;&nbsp;About |</a>
    
   
         
        


  </div>
  <router-outlet></router-outlet>









</body>
<br><br><br><br><br><br>
<footer>
<div class="container-fluid">
<div class="footer" >
  <footer class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter" role="contentinfo">
   <div class="sl-l-container sl-l-section"> 
     <div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters"> 
       <br><br><div class="sl-l-grid__column">
             <p>Lazada @ 2012-2020 <a >Catlin</a>,
         
              
              <div class="sl-l-grid__column sl-l-large-grid__column--auto-size sl-l-large-grid--justify-right"> <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 152px; height: 28px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.c63890edc4243ee77048d507b181eeec.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=Lazada&amp;show_count=false&amp;show_screen_name=true&amp;size=l&amp;time=1588695139391" data-screen-name="SassCSS"></iframe> <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
               
              </script> </div> </div> </div> </div> </footer>

</div>
</div>
</footer>



</html>